:root {
  --primary-color: orange;
}
* {
  font-family: "Gotham";
  padding: 0;
  margin: 0;
  overflow: hidden;
}
/* body {
    background: url(taxi-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: white;
}
body::after {
    content: "";
    background: rgba(0, 0, 0, 0.507);
    display: block;
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
} */

body {
  background: radial-gradient(circle, rgb(255, 255, 255), rgb(199, 199, 199));
}

/* the overall container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.countdown-contianer {
  display: flex;
  text-align: center;
  margin: 2rem;
}

/* year */
.year {
  font-size: 6rem;
  font-weight: bold;
  position: absolute;
  bottom: 5rem;
  opacity: 0.3;
}

/* the countdown time */
.big-text {
  font-weight: bold;
  font-size: 3.5rem;
}
h1 {
  font-weight: normal;
}

/* the underline */
h1::after {
  content: "";
  display: block;
  height: 5px;
  width: 80px;
  margin: 10px auto;
  background: var(--primary-color);
}

/* space between timer elements */
.time-wrapper {
  margin: 0 1rem;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  background: #333;
  padding: 8px;
  width: 100vw;
  color: #777;
}
.date-input {
  border: none;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  outline: none;
}
.date-input:focus {
  background-color: var(--primary-color);
  color: white;
}
.date-container {
  display: flex;
  flex-direction: column;
}
/* style for the buttons */
button {
  padding: 8px 10px;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
}
button,
button[id="grad-btn"] {
  background: #333;
  color: white;
  border: none;
  box-shadow: inset 0 0 10px #000;
}
button[id="new-year-btn"] {
  border: 2px solid #333;
}
.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
